.audio-editor-container div.editor-monitor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    flex: 0 0 auto;
    
    & > div.editor-monitor-meter-container {
        flex: 1 1 300px;
        display: inline-block;
        position: relative;
        margin: 18px 6px;
        overflow: hidden;
        min-width: 120px;
        max-width: 100%;
        height: 60px;

        & > canvas {
            position: relative;
            display: block;
            width: 100%;
            
            &:first-child {
                height: calc(100% - 20px);
                background-color: var(--vscode-panel-background);
            }
            &:last-child {
                height: 20px;
            }
        }
    }

    & > div.editor-monitor-ranges {
        flex: 0 1 340px;
        display: inline-block;
        position: relative;
        min-width: 0;
        max-width: 100%;
        overflow-x: auto;
        user-select: none;

        & > vscode-data-grid {
            min-width: 320px;
            text-align: right;

            & span.time-input {
                width: 100%;
                text-align: right;
            }
            
            & vscode-data-grid-cell {
                user-select: none;
            }
        }
    }
}
