.audio-editor-container div.editor-main-visualizer-component {
    & > div.essentia-loudnessebur128-configuration-container > div.essentia-loudnessebur128-configuration {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: auto;

        & > div {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            & > input[type=number] {
                background-color: var(--vscode-settings-numberInputBackground);
                color: var(--vscode-settings-numberInputForeground);
                border: 1px solid var(--vscode-settings-numberInputBorder, transparent);
                border-radius: 2px;
                padding: 4px 9px;
                font-family: var(--vscode-font-family);
            }

            & > input[type=color] {
                background-color: var(--vscode-button-secondaryBackground);
                padding: 0px;
                border-width: 0px;
            }

            & vscode-text-field {
                width: 100%;
            }
        }

    }
}