.audio-editor-container div.editor-main-visualizer-component {
    & > div.marker-module-container {
        & > .marker-background {
            display: block;
            position: absolute;
            height: 100%;
            width: calc(100% - var(--visualizer-right-spacing));
            background-color: var(--vscode-panel-background);
        }

        & > .marker-vertical-ruler-container {
            display: block;
            position: absolute;
            height: 100%;
            width: calc(100% - var(--visualizer-right-spacing));
            pointer-events: none;

            & > canvas {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        & > div.markers-container {
            display: block;
            position: absolute;
            height: 100%;
            width: calc(100% - var(--visualizer-right-spacing));
            cursor: text;
            overflow: auto;

            & > div.markers {
                display: block;
                position: relative;
                
                & > div.markers-row {
                    position: relative;
                    display: block;
                    margin: 4px 0px;
                    overflow: hidden;

                    &::after {
                        position: relative;
                        display: inline-block;
                        content: "\00a0";
                        margin: 4px 0px;
                        width: 0px;
                    }

                    & > div.marker {
                        position: absolute;
                        display: flex;
                        height: calc(100% - 8px);
                        margin: 4px 0px 4px -4px;
                        background-color: transparent;
                        border-width: 1px 0px 1px 4px;
                        border-radius: 4px 0px 0px 4px;
                        border-style: solid;
                        cursor: grab;

                        &.range {
                            border-width: 1px 4px;
                            border-radius: 4px;
                            background-color: var(--vscode-button-secondaryBackground);
                        }

                        &.selected {
                            box-shadow: 0px 0px 2px 2px var(--vscode-minimap-findMatchHighlight);
                        }

                        & > span {
                            font-family: var(--vscode-font-family);
                            font-size: 12px;
                            margin: auto 4px;
                            color: var(--vscode-button-secondaryForeground);
                            position: relative;
                            display: inline-block;
                            text-overflow: ellipsis;
                            overflow-x: visible;
                            text-wrap: nowrap;
                            vertical-align: middle;
                        }
                        &.range > span {
                            overflow-x: hidden;
                        }

                        & > div.resize-handler-w {
                            position: absolute;
                            display: block;
                            top: 0;
                            left: -2px;
                            width: 4px;
                            height: 100%;
                            cursor: ew-resize;
                        }
        
                        & > div.resize-handler-e {
                            position: absolute;
                            display: block;
                            top: 0;
                            right: -2px;
                            width: 4px;
                            height: 100%;
                            cursor: ew-resize;
                        }

                        &:hover {
                            background-color: var(--vscode-button-secondaryHoverBackground);
                        }
                        &::after {
                            position: relative;
                            display: inline-block;
                            content: "\00a0";
                            margin: 4px 0px;
                            vertical-align: middle;
                            width: 0px;
                        }
                    }
                    & > div.playhead-container {
                        display: block;
                        position: absolute;
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
            
                        & > div.playhead {
                            display: block;
                            position: absolute;
                            width: 0px;
                            height: 100%;
                            border-right: 1px var(--vscode-minimap-findMatchHighlight) dashed;
        
                            & > vscode-button {
                                position: relative;
                                margin-left: 4px;
                                overflow: visible;
                                pointer-events: auto;
                            }
                        }
                    }
                    & > div.selrange {
                        position: absolute;
                        display: block;
                        height: 100%;
                        width: 0%;
                        background-color: rgba(255, 255, 255, 0.2);
                        pointer-events: none;
                    
                        &[hidden] {
                            display: none;
                        }
                        
                        & > div {
                            pointer-events: auto;
                        }
        
                        & > div.resize-handler-w {
                            position: absolute;
                            display: block;
                            top: 0;
                            left: -2px;
                            width: 4px;
                            height: 100%;
                            cursor: ew-resize;
                        }
        
                        & > div.resize-handler-e {
                            position: absolute;
                            display: block;
                            top: 0;
                            right: -2px;
                            width: 4px;
                            height: 100%;
                            cursor: ew-resize;
                        }
                    }
                }
            }
        }

        & > .marker-horizontal-ruler-container {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            pointer-events: none;

            & > canvas {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    & > div.visualizer-component-configuration > div.marker-configuration {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: calc(100% - 20px);
        padding: 0px 10px;
        overflow: auto;

        & > div {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
            
            & > input[type=color] {
                background-color: var(--vscode-button-secondaryBackground);
                padding: 0px;
                border-width: 0px;
            }
        }
/*
        & .marker-button-delete {
            background: var(--vscode-statusBarItem-warningBackground);
            color: var(--vscode-statusBarItem-warningForeground);
        }
*/
    }
}