.audio-editor-container div.editor-main-visualizer-component {
    & > div.visualizer-component-container {
        height: 100%;
        flex: 1 1 auto;
        position: relative;

        & > div.visualizer-component-visualization-area {
            display: block;
            position: absolute;
            height: 100%;
            width: calc(100% - var(--visualizer-right-spacing));
            overflow: hidden;
        }
    }

    & > div.visualizer-component-configuration {
        height: 100%;
        flex: 0 0 calc(var(--visualizer-configuration-spacing) - 1px);
        border-left: 1px var(--vscode-menu-separatorBackground) solid;
        position: relative;
        display: none;
    }
    
    &.configuring > div.visualizer-component-configuration {
        display: block;
    }

    & > div.visualizer-component-monitor {
        height: 100%;
        flex: 0 0 calc(var(--visualizer-monitor-spacing) - 1px);
        border-left: 1px var(--vscode-menu-separatorBackground) solid;
        position: relative;
        display: none;
    }
    
    &.monitoring > div.visualizer-component-monitor {
        display: block;
    }
}
