.audio-editor-container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;

    & > .audio-editor-left-container {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 8px;
        flex: 1 1 auto;
    
        & > :not(:last-child) {
            padding-bottom: 6px;
        }
    }

}
